<div class="row">
  <div class="col 3"></div>
  <div class="col 6">
    <center>
      <h2>Te has registrado correctamente</h2>
      <p>Pronto serás redireccionado a la página de login</p>
    </center>
  </div>
  <div class="col 3"></div>
</div>

<script>
  setTimeout( () => { document.location.href="/api/usuario/login"; }, 2000)
</script>