<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/usuario/form_historias_clinicas/{{id}}?_method=GET"
          method="GET">
        <input type="hidden" value="GET" name="_method">
        <button class="btn btn-primary"
                style="color:aliceblue"
                type="submit"
        >Agregar Consulta/Registro</button>
    </form>
    Historias clínicas
    <h1>{{id}}</h1>
</body>
</html>