<div class="row">
  <div class="col 3"></div>
  <div class="col 6">
    <h2> Usuario o contraseña incorrectos, intente nuevamente </h2>
    <center>
      <form action="/api/usuario/login" method="GET">
        <input type="hidden" value="GET" name="_method" />
        <button
          class="btn btn-outline-primary btn-sm"
          type="submit"
        >Volver</button>
      </form>
    </center>
  </div>
  <div class="col 3"></div>
</div>