<div class="row">
  <div class="col 3"></div>
  <div class="col 6">
    <h2>Agregaste correctamente el paciente</h2>
    <p>Serás redireccionado al listado general</p>
  </div>
  <div class="col 3"></div>
</div>

<script>
  setTimeout( () => { document.location.href="/"; }, 2000)
</script>